.portada{
    display: flex;
    flex-direction: column;
    width: 350px;

}

.nombre{
    font-size: 21px;
}

.imagen{
    width: 250px;
    height: 250px;
}

.descrip{
    font-size: 11px;
}

.btn1{
    border-radius: 3px;
    display: inline-block;
    padding: 12px 10px;
    text-decoration: none;
    width: 62px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-primary1{
    color: white;
    background-color: rgb(0, 106, 255);
}