.header {
    background-color: rgb(13, 85, 158);
}

.header_container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 120px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

.navbar_link {
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    color: white;
    margin: 0;
}

.user {
    font-size: 20px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
}

.boton-logout {
    color: white;
    background-color: red;
    border-radius: 3px;
    display: inline-block;
    padding: 9px 9px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}